
<h1>Edit profile</h1>

<%= form_for @user,method: :patch, action: :update do |f| %>
    <%= f.label :name, 'Username' %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>
     <%= f.label :password %>
    <%= f.password_field :password %>
   <%= f.label :Confirmation %>
    <%= f.password_field :Confirmation %>

    <%= f.submit 'Update user profile' %>

<%= render 'shared/errors', object: @user %>
<% end %>
