<h1>Profile Page for <%= @user.name %>'s ride<h1>
<p>Name: <%=@user.name%></p>
<p>Email: <%= @user.email %></p>
<p> Date:    <%= @ride.date %></p>
    <p> Departs at:<%= @ride.leave_time %></p>
    <p> Returns at <%= @ride.return_time %></p>

   <p> <%= @ride.number_of_seats %></p>

 <p>  <%= @ride.meeting_location %></p>
   <p> <%= @ride.vehicle %></p>
