<h1>Edit rides</h1>

<%= form_for @ride ,method: :patch, action: :update do |f| %>
    <%= f.label :ID, 'Username' %>
    <%= f.text_field :user_id%>

    <%= f.label :date %>
    <%= f.text_field :date %>

    <%= f.label :leave_time %>
    <%= f.text_field :leave_time %>
  
    <%= f.label :return_time %>
    <%= f.text_field :return_time %>

   <%= f.label :number_of_seats,"Number of seats" %>
    <%= f.text_field :number_of_seats %>

 
   <%= f.label :seats_available, "Seats available" %>
    <%= f.text_field :seats_available %>

   <%= f.label :meeting_location, "Meeting location" %>

   <%= f.text_field :meeting_location %>

<%=hidden_field_tag 'user_id', current_user %>
    <%= f.label :vehicle %>
    <%= f.text_field :vehicle %>
    <%= f.submit 'Submit' %>

<%= render 'shared/errors', object: @user %>
<% end %>
